<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.retrofit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apppic"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/xml"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0a82d71e85c3af7d72a503e51c6de1a5616e1656"
            />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Search" />
        <activity android:name=".activity.Trailer_page" />
        <activity android:name=".activity.MovieDetail" />
        <activity android:name=".activity.TvDetail" />
        <activity android:name=".activity.PeapleDetail" />
        <activity android:name=".activity.Saved" />
        <activity
            android:name=".Navigation_Movie.NavigationMovie"
            android:label="@string/title_activity_navigation_movie" />
        <activity
            android:name=".Navigation_Tv.NavigationTv"
            android:label="@string/title_activity_navigation_tv" />
        <activity android:name=".Navigation_Tv.TopTvDetail" />


    </application>

</manifest>